@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared CSS styles */
.display-flex{
    display: flex;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}


/* dark2 */

.text-gray{
    color: #424242;
}

.text-primary{
    color: #FF900E;
}


.navbar{
    justify-content: space-between;
}
/* dark-3 */

.text-gray-light{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 244, 231, 1)
}
/* header styles */

/* Navbar related Styles */

.brand{
    font-weight: 700;
    font-size: 3rem;
}

/* .nav-links{
   
} */

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.banner-image{
    width: 100%;
}


/* Team and Feature related styles */

.teams{
    align-items: center;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}


.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list{
    font-weight: 500;
    font-weight: 700;
}
/* responsive media query */

@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
.team-img-container
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}

/* Medium Size Device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin-left: 50px auto;
    }
}